@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;1,400;1,500&display=swap');

body{
    font-family: 'DM Sans';
    font-size:  16px;
}


/* picker */
.dp__input{
    height: 50px;
}
.dp__icon{
    height: 20px !important;
    width: 20px;
}
.dp__input_icon_pad{
    padding-left: 40px;
}
.dp__selection_preview{
    width: 100% !important;
    display: none;
}

.main-content{
    min-height: calc(100vh - 96px);
}